<!DOCTYPE HTML> 
<html lang="en">
<link href="/style.css" rel="stylesheet" type="text/css">
<body>
    <div class="error">
        <h3> <%= statusCode %> </h3>
        <h5> <%= message %> </h5>
    </div>
</body>
</html>