<!DOCTYPE HTML> 
<html lang="en">
<link href="/style.css" rel="stylesheet" type="text/css">
<body>
    <div clase="homebuttons">
        <button onclick="window.location.href = '/posts';">posts</button>
        <button onclick="window.location.href = '/aboutme';">aboutme</button>
    </div>
</body>
</html>